---
http_interactions:
- request:
    method: get
    uri: https://serpapi.com/search.json?api_key=<RGT_TOKEN>&data_type=TIMESERIES&engine=google_trends&q=TSMC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3cb99a47d458e3c69176dcdb96ca1e04"
      Serpapi-Search-Id:
      - 636799ad47ccf173e502ab33
    body:
      encoding: UTF-8
      string: |-
        {
          "search_metadata": {
            "id": "636799ad47ccf173e502ab33",
            "status": "Success",
            "json_endpoint": "https://serpapi.com/searches/d248205edaf288b7/636799ad47ccf173e502ab33.json",
            "created_at": "2022-11-06 11:25:33 UTC",
            "processed_at": "2022-11-06 11:25:33 UTC",
            "google_trends_url": "https://trends.google.com/trends/api/explore?tz=420&req=%7B%22comparisonItem%22%3A%5B%7B%22keyword%22%3A%22TSMC%22%2C%22geo%22%3A%22%22%2C%22time%22%3A%22today+12-m%22%7D%5D%2C%22category%22%3A0%2C%22property%22%3A%22%22%7D",
            "raw_html_file": "https://serpapi.com/searches/d248205edaf288b7/636799ad47ccf173e502ab33.html",
            "prettify_html_file": "https://serpapi.com/searches/d248205edaf288b7/636799ad47ccf173e502ab33.prettify",
            "total_time_taken": 2.01
          },
          "search_parameters": {
            "engine": "google_trends",
            "q": "TSMC",
            "date": "today 12-m",
            "tz": "420",
            "data_type": "TIMESERIES"
          },
          "search_information": {
            "organic_results_state": "Fully empty"
          },
          "error": "Google Trends hasn't returned any results for this query."
        }
  recorded_at: Sun, 06 Nov 2022 12:04:50 GMT
- request:
    method: get
    uri: https://serpapi.com/search.json?api_key=<RGT_TOKEN>&data_type=TIMESERIES&engine=google_trends&q=TSLA
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"886ecf8c25f3aa6b7e76251d7c9e4612"
      Serpapi-Search-Id:
      - 6367a7687d171a12aec14d12
    body:
      encoding: UTF-8
      string: |-
      [...]
- request:
    method: get
    uri: https://serpapi.com/search.json?api_key=<RGT_TOKEN>&data_type=TIMESERIES&engine=google_trends&q=FTX
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"573fd3927d26b1f966c455c286840bee"
      Serpapi-Search-Id:
      - 636f473d2fe302e94c4cbb8e
    body:
      encoding: UTF-8
      string: |-
       [...]
- request:
    method: get
    uri: https://serpapi.com/search.json?api_key=<RGT_TOKEN>&data_type=TIMESERIES&engine=google_trends&q=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"15d3e7d75fe4304023ea8d9c5a4ea4c2"
      Serpapi-Search-Id:
      - 636f4ae7aa6c958999ec80ee
    body:
      encoding: UTF-8
      string: |-
       [...]
- request:
    method: get
    uri: https://serpapi.com/search.json?api_key=<RGT_TOKEN>&data_type=TIMESERIES&engine=google_trends&q=
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "Missing query `q` parameter."
        }
  recorded_at: Sun, 04 Dec 2022 12:09:46 GMT
- request:
    method: get
    uri: https://serpapi.com/search.json?api_key=<RGT_TOKEN>&data_type=TIMESERIES&engine=google_trends&q=apple
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a7886165b04a591bc2075b76c6534646"
      Serpapi-Search-Id:
      - 638c8f9036e6a96cf93157f8
    body:
      encoding: UTF-8
      string: |-
     [...]
- request:
    method: get
    uri: https://serpapi.com/search.json?api_key=<RGT_TOKEN>&data_type=TIMESERIES&engine=google_trends&q=123
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d136e4c4134ba875e324bb5f342142d8"
      Serpapi-Search-Id:
      - 638ca1d24055aa85c3df8561
    body:
      encoding: UTF-8
      string: |-
       [...]
- request:
    method: get
    uri: https://serpapi.com/search.json?api_key=<RGT_TOKEN>&data_type=TIMESERIES&engine=google_trends&q=@@@@
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46ed4c75040093e66f0076b853afaa39"
      Serpapi-Search-Id:
      - 638ca3f9c640d2c46f4fca65
    body:
      encoding: UTF-8
      string: |-
      [...]
- request:
    method: get
    uri: https://serpapi.com/search.json?api_key=<RGT_TOKEN>&data_type=TIMESERIES&engine=google_trends&q=vnhsiufbnisubnsre
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"86c7d40c5415fb7036a263367317096e"
      Serpapi-Search-Id:
      - 638ca442d04d6dfbfb1a413b
    body:
      encoding: UTF-8
      stri[...]
